@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Yeseva+One&display=swap');

html {
    padding:0;
    margin:0;
    font-family:'Nunito', sans-serif;
}
body {

    width:100%;
}

main {
    background: #F8F8F8;
    padding: 50px 70px;
}

* {
    box-sizing: border-box;
}
h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    margin: 0 0 20px 0;
}

h1, h2{
    font-family:'Yeseva One', sans-serif;
    font-weight : 400;
}

.wine-cards-container {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wine-card-wrapper.red-label{
    background: #F5D2DF;
}

.wine-card-wrapper.white-label{
    background: #F1EBE0;
}

.wine-card-wrapper.new-wine-label {
    background: #D7D7D7;
}

.wine-card-wrapper.red-label, .wine-card-wrapper.white-label, .wine-card-wrapper.new-wine-label {
    padding-left: 33px;
    margin: 10px;
    width:30%;
    height: 350px;
    min-width: 200px;
}

.wine-card {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wine-card form.form-add-wine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.wine-card input, .wine-card select {
    border: 1px solid #979797;
    padding: 5px 5px;
    background: transparent;
    width: 100%;
    color: #737373;
}

.wine-card input:focus, .wine-card select:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #737373;
    opacity: 1; /* Firefox */
}

.wine-card label{
    width: fit-content;
}

.wine-card h2 {
    text-align: left;
    font-size: 1.9rem;
}

h2.red-wine-title {
    color: #9D214E;
}

h2.white-wine-title {
    color: #B68B3C;
}

.wine-characteristics-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}

.wine-characteristics-wrapper h3, .wine-characteristics-wrapper label{
    color: #6E6E6E;
    font-weight: 400;
    font-size: 0.8rem;
}
.wine-characteristics-wrapper h3 {
    margin: 0;
}

.wine-characteristics-wrapper label {
    margin: 3px 0 5px 0;
}
/*.wine-characteristics-wrapper input {*/
/*    max-width: 30%;*/
/*}*/

.wine-characteristic {
    max-width: 100%;
    margin: 0 0 15px 0;
    display:flex;
    flex-direction: column;
}

.wine-characteristic p {
    margin: 5px 0 0 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.add-button {
    padding: 8px 20px;
    background: green;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
}

.add-button .fa-plus {
    font-size: 1rem;
    margin-right: 5px;
}

@media screen and (max-width: 700px) {
    .wine-card {
        min-width: 100%;
    }

    .wine-characteristics {
        justify-content: center;
    }

    .wine-card .wine-characteristics-wrapper {
        justify-content: space-around;
    }

    .wine-card {
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    .wine-characteristics-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .wine-characteristics-wrapper, h2, .input-name {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .wine-card input, .wine-card select{
        max-width: 100%;
        margin: 5px 0;
    }

}