html {
    padding:0;
    margin:0;

}
body{
    width:100%;
}

* {
    box-sizing: border-box;
}

h1{
    text-align:center;
}

.wine-cards-container {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.wine-card{
    background: #cccccc;
    padding: 20px;
    margin: 10px;

    border-radius:10px;
}

.wine-card input {
    margin:10px 5px;
}

.wine-card .form-add-wine {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wine-card h2, .wine-card .input-name {
    text-align:center;
}

.wine-characteristics {
    display:flex;
    justify-content: space-around;
}

.wine-characteristics h3{
    margin: 0 8px;
}

@media screen and (max-width: 700px) {
    .wine-card {
        min-width:100%;
    }
    .wine-characteristics {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .wine-characteristics {
        flex-direction:column;
        text-align: center;
    }

}